<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/prevent.js"></script>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Secure Bank</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/account/list/1}">Accounts</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Request
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/request/list/1}">Transaction</a></li>
                    <li><a th:href="@{/account-request/list/1}">Account</a></li>
                </ul>
            </li>
            <li><a th:href="@{/account/deposit}">Deposit</a></li>
            <li><a th:href="@{/account/withdraw}">Withdraw</a></li>
            <li><a th:href="@{/checks/issue}">Issue</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transfer
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/transfer/account}">By Account</a></li>
                    <li><a th:href="@{/transfer/phone}">By Phone</a></li>
                    <li><a th:href="@{/transfer/email}">By Email</a></li>
                </ul>
            </li>
        </ul>
        <div class="pull-right">
            <ul class="nav pull-right navbar-nav">
                <li><a th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container">
        <a th:href="@{/checks/list/1}" class="btn btn-primary">Checks List</a>
        <div class ="card">
    <h2><strong>Issue New Check</strong></h2>
    <div class="alert alert-info" role="alert" th:if="${message!=''}">
        <p th:text="${message}">
        </p>
    </div>
    <form name="myForm" class="form-horizontal" th:object="${check}" th:action="@{/checks/issue}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" >Account No</label>
            <div class="col-sm-4">
                <input type ="number" class="form-control" th:field="*{accountno}" placeholder="Enter Account No" name="accountno" id="accountmo" required>
                <span class="help-block" id="name-error"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Amount</label>
            <div class="col-sm-4">
                <input type ="number" class="form-control" th:field="*{amount}" placeholder="Enter Check Amount" name="amount" id="amount" min="1" step="0.1" required>
                <span class="help-block" id="contact-error"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="issue">Issue Check</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>