<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="/js/account.js"></script>
    <script type="text/javascript" src="/js/prevent.js"></script>
    <title>Home</title>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Secure Bank</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/account/list/1}">Accounts</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Request
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/request/list/1}">Transaction</a></li>
                    <li><a th:href="@{/account-request/list/1}">Account</a></li>
                </ul>
            </li>
            <li><a th:href="@{/account/deposit}">Deposit</a></li>
            <li><a th:href="@{/account/withdraw}">Withdraw</a></li>
            <li><a th:href="@{/checks/issue}">Issue</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transfer
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/transfer/account}">By Account</a></li>
                    <li><a th:href="@{/transfer/phone}">By Phone</a></li>
                    <li><a th:href="@{/transfer/email}">By Email</a></li>
                </ul>
            </li>
        </ul>
        <div class="pull-right">
            <ul class="nav pull-right navbar-nav">
                <li><a th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><strong>Welcome!</strong></p>
            <p th:text="${employee.getEmployee_name()}"></p>
            <p th:text="|Email: ${employee.getEmail_id()}|"></p>
            <p th:text="|Phone: ${employee.getContact_no()}|"></p>
            <p th:text="|Address: ${employee.getAddress()}|"></p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div role="group" aria-label="Basic example">
                        <a th:href="@{/account/list/1}" type="button" class="btn btn-primary">Accounts</a>
                        <a th:href="@{/account/deposit}" type="button" class="btn btn-primary">Deposit Fund</a>
                        <a th:href="@{/account/withdraw}" type="button" class="btn btn-primary">Withdraw Fund</a>
                        <a th:href="@{/checks/issue}" type="button" class="btn btn-primary">Issue Cashier Cheque</a>
                        <a th:href="@{/transfer/account}" type="button" class="btn btn-primary">Transfer Fund</a>
                        <a th:href="@{/request/list/1}" type="button" class="btn btn-primary">Transaction Request</a>
                        <a th:href="@{/account-request/list/1}" type="button" class="btn btn-primary">Customer Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>