<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="/js/tier2.js"></script>
    <script type="text/javascript" src="/js/prevent.js"></script>
    <title>Home</title>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Secure Bank</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/account/list/1}">User Accounts</a></li>
            <li><a th:href="@{/employee/list/1}">Employee Accounts</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Request
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/request/list/1}">Transaction</a></li>
                    <li><a th:href="@{/account-request/list/1}">Account</a></li>
                </ul>
            </li>
        </ul>
        <div class="pull-right">
            <ul class="nav pull-right navbar-nav">
                <li><a th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="alert alert-info" role="alert" th:if="${message!=''}">
        <p th:text="${message}">
        </p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><strong>Welcome!</strong></p>
            <p th:text="${employee.getEmployee_name()}"></p>
            <p th:text="|Employee ID: ${employee.getEmployee_id()}|"></p>
            <p th:text="|Email: ${employee.getEmail_id()}|"></p>
            <p th:text="|Phone: ${employee.getContact_no()}|"></p>
            <p th:text="|Address: ${employee.getAddress()}|"></p>
            <a class="btn btn-info" id="edit-profile">Edit Profile</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div role="group" aria-label="Basic example">
                        <a th:href="@{/account/list/1}" type="button" class="btn btn-primary">User Accounts</a>
                        <a th:href="@{/employee/list/1}" type="button" class="btn btn-primary">Employee Accounts</a>
                        <a th:href="@{/request/list/1}" type="button" class="btn btn-primary">Requests</a>
                    </div>
                </div>
            </div>
            <div class="profileForm">
                <form th:action="@{/employee/edit1}" method="post" id="edit" th:object="${employee}" >
                    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="employeeid" class="col-form-label">Employee Id:</label>
                                            <input type="text" class="form-control" id="employeeid" th:field="*{employee_id}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-form-label">Name:</label>
                                            <input type="text" class="form-control" id="name" th:field="*{employee_name}" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-form-label">Email:</label>
                                            <input type="text"class="form-control" id="email" readonly th:field="*{email_id}">
                                        </div>
                                        <div class="form-group">
                                            <label for="gender" class="col-form-label">Gender:</label>
                                            <select class="form-control"  id="gender" required th:field="*{gender}">
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="age" class="col-form-label">Age:</label>
                                            <input type="number"  class="form-control" id="age" required th:field="*{age}">
                                        </div>
                                        <div class="form-group">
                                            <label for="contact" class="col-form-label">Contact:</label>
                                            <input type="text"class="form-control" id="contact" required th:field="*{contact_no}">
                                        </div>
                                        <div class="form-group">
                                            <label for="address" class="col-form-label">Address:</label>
                                            <input type="text"class="form-control" id="address" required th:field="*{address}">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>